.Home .logo {
  font-style: italic;
  text-shadow: 10px 5px 10px black;
  font-weight: 900;
  font-size: 4rem;
}

.Home .images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.Home .column {
  flex: 25%;
  padding: 0 4px;
}

.Home .column img {
  margin-top: 8px;
  vertical-align: middle;
}

.Home .image-container {
  cursor: zoom-in;
}

.Home .desktop {
  display: none;
}

.Home .image-container img {
  width: 100%;
}

.Home .hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/jonatan-pie-EvKBHBGgaUo-unsplash\ \(1\).jpg");
  background-color: #111;
  padding: 1rem;
  height: 400px;
  position: relative;
  color: #fff;
  margin-bottom: 2.5rem;
}

.Home .form-group {
  position: relative;
}

.Home .form-control {
  padding-left: 3rem;
}

.Home .search {
  position: absolute;
  left: 1rem;
  top: 25%;
  font-size: 1.2rem;
  color: #4bbf73;
}

.hero .hero-content {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 700px) {
  .Home .mobile {
    display: none;
  }
  .Home .desktop {
    display: flex;
  }

  .Home .image-container {
    width: 100%;
  }
}
