.logo {
  font-style: italic;
  text-shadow: 10px 5px 10px black;
  font-weight: 900;
  font-size: 4rem;
}

.images {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 700px) {
  .images {
    grid-column-gap: 24px;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.column {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 24px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.imageContainer {
  cursor: zoom-in;
}

.imageContainer img {
  width: 100%;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/images/jonatan-pie-EvKBHBGgaUo-unsplash\ \(1\).jpg");
  background-color: #111;
  padding: 1rem;
  height: 400px;
  position: relative;
  color: #fff;
  margin-bottom: 2.5rem;
}

.formGroup {
  position: relative;
}

.formControl {
  padding-left: 3rem;
}

.search {
  position: absolute;
  left: 1rem;
  top: 25%;
  font-size: 1.2rem;
  color: #4bbf73;
}

.hero .heroContent {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
